body {
    background: #C6FFDD;
    background: -moz-linear-gradient(top, #C6FFDD 0%, #FBD786 60%, #F7797D 100%);
    background: -webkit-linear-gradient(top, #C6FFDD 0%, #FBD786 60%, #F7797D 100%);
    background: linear-gradient(to bottom, #C6FFDD 0%, #FBD786 60%, #F7797D 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    width: 230px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 4px rgb(40, 15, 142);
    margin-top: 50px;
}

.box {
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 15px 4px rgb(40, 15, 142);
    border-radius: 20px;
    margin: 50px;
}


.button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 20px;
    padding: 7px;
    border-radius: 12px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    background-image: linear-gradient(rgb(255, 19, 19) 0%, rgb(1, 247, 17) 100%);
    box-shadow: 0px 0px 15px 4px rgb(40, 15, 142);
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background: #FF1313;
}

.button:active {
    background: #01F711;
}